@media screen and (max-width: 426px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0%;
        padding: 0%;
    }
    .top-header-container {
        max-width: 100vw;
        color: rgb(205, 69, 32);
        font-size: 35px;
        text-align: center;
        margin-top: -20%;
        padding-top: 6%;
        background-color: antiquewhite;
        border-bottom: 5px solid rgba(0, 0, 0, 0.61);
    }
    .top-header-name {
        margin-bottom: -12%;
    }
    .top-header-menu {
        justify-content: space-around;
        padding-bottom: 3%;
    }
    button {
        color: rgb(255, 255, 255);
        font-size: 20px;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.597);
        border: none;
        border-radius: 5%;
    }
    .mainImg {
        height: 65vh;
        filter: blur(2px);
    }
    .main-text {
        position: relative;
        text-align: center;
        color: aliceblue;
    }
    .welcome {
        position: absolute;
        font-size: 75%;
        top: -1%;
        left: 16%;
    }
    .pContent {
        background-color: rgba(151, 159, 167, 0.683);
        border-radius: 10%;
        position: absolute;
        font-size: 60%;
        top: 34%;
        left: 33%;
        transform: translate(-25%, -25%);
    }
    .foot {
        position: absolute;
        height: 13vh;
        width: 100vw;
        background-color: beige;
        text-align: center;
        border-top: rgba(255, 0, 0, 0.251) solid 4px;
    }
    .copyText {
        font-size: 60%;
        text-align: center;
    }
    a {
        color: black;
        font-size: 70%;
        align-content: center;
    }
    .menu-container {
        margin-top: -6%;
        max-width: 100vw;
        background-color: rgb(116, 114, 115);
    }
    #menuText {
        padding-top: 5%;
        font-size: 100%;
        text-align: center;
    }
    .menu-items {
        max-width: 100%;
        max-height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .menu-item {
        border: rgba(0, 0, 0, 0.735) inset 5px;
        width: 80%;
        justify-self: center;
    }
    .aboutContain {
        max-width: 100vw;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .aboutText {
        font-size: 95%;
    }
    .personImg {
        padding-left: 28%;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .chuey {
        padding-left: 4%;
        width: 90vw;
        font-size: 50%;
    }
    .onlyForm {
        padding-left: 9.5%;
        max-width: 80vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        row-gap: 5px;
    }
    .contactText {
        font-size: 50%;
    }
}
@media screen and (min-width: 427px) and (max-width: 900px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0%;
        padding: 0%;
    }
    .top-header-container {
        max-width: 100vw;
        color: rgb(205, 69, 32);
        font-size: 35px;
        text-align: center;
        padding-top: .1%;
        background-color: antiquewhite;
        border-bottom: 5px solid rgba(0, 0, 0, 0.61);
    }
    .top-header-name {
        margin-bottom: -6%;
    }
    .top-header-menu {
        padding-bottom: 3%;
    }
    .btn {
        color: rgb(255, 255, 255);
        font-size: 20px;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.597);
        border: none;
        border-radius: 5%;
    }
    .main-container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        row-gap: 5px;
    }
    .main-text {
        position: relative;
        text-align: center;
        color: aliceblue;
    }
    .mainImg {
        filter: blur(3px);
    }
    .welcome {
        position: absolute;
        font-size: 110%;
        top: -1%;
        left: 22%;
    }
    .pContent {
        background-color: rgba(151, 159, 167, 0.683);
        border-radius: 10%;
        position: absolute;
        font-size: 80%;
        top: 39%;
        left: 35%;
        transform: translate(-25%, -25%);
    }
    .menu-container {
        max-width: 100vw;
        background-color: rgb(116, 114, 115);
        text-align: center;
    }
    .menu-items {
        width: 100vw;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .menu-item {
        border: rgba(0, 0, 0, 0.735) inset 5px;
        width: 80%;
        justify-self: center;
    }
    .about-container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .aboutContain {
        max-width: 100vw;
        align-items: center;
    }
    .aboutText {
        text-align: center;
    }
    .personImg {
        padding-left: 35%;
        height: 25%;
        width: 30%;
    }
    .chuey {
        padding-left: 4%;
        width: 90vw;
        font-size: 70%;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .onlyForm {
        text-align: center;
        padding-left: 9.5%;
        max-width: 80vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        row-gap: 5px;
    }
    .contactText {
        font-size: 70%;
        text-align: center;
    }
    .bottom-header {
        max-width: 100vw;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .foot {
        position: absolute;
        height: 13vh;
        width: 100vw;
        background-color: beige;
        text-align: center;
        border-top: rgba(255, 0, 0, 0.251) solid 4px;
    }
    .copyText {
        font-size: 60%;
        text-align: center;
    }
    a {
        color: black;
        font-size: 70%;
        align-content: center;
    }
}
@media screen and (min-width: 901px) and (max-width: 2400px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0%;
        padding: 0%;
    }
    .top-header {
        max-width: 100vw;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .top-header-container {
        max-width: 100vw;
        color: rgb(205, 69, 32);
        font-size: 35px;
        text-align: center;
        padding-top: .1%;
        background-color: antiquewhite;
        border-bottom: 5px solid rgba(0, 0, 0, 0.61);
    }
    .top-header-name {
        margin-bottom: -3%;
    }
    .top-header-menu {
        padding-bottom: 3%;
    }
    .btn {
        color: rgb(255, 255, 255);
        font-size: 40px;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.597);
        border: none;
        border-radius: 5%;
    }
    .main-container {
        max-width: 100vw;
    }
    .main-text {
        position: relative;
        text-align: center;
        color: aliceblue;
    }
    .welcome {
        position: absolute;
        font-size: 200%;
        top: -1%;
        left: 24%;
    }
    .pContent {
        background-color: rgba(151, 159, 167, 0.683);
        border-radius: 10%;
        position: absolute;
        font-size: 150%;
        top: 39%;
        left: 34.8%;
        transform: translate(-25%, -25%);
    }
    #menuText {
        font-size: 250%;
    }
    .menu-container {
        margin-top: -3%;
        padding-top: 3%;
        max-width: 100vw;
        background-color: rgb(116, 114, 115);
        text-align: center;
    }
    .menu-items {
        width: 100vw;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
    }
    .menu-item {
        border: rgba(0, 0, 0, 0.735) inset 5px;
        width: 80%;
        justify-self: center;
    }
    .about-container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .aboutContain {
        max-width: 100vw;
        align-items: center;
    }
    .aboutText {
        text-align: center;
        font-size: 200%;
    }
    .personImg {
        padding-left: 35%;
        height: 25%;
        width: 30%;
    }
    .chuey {
        padding-left: 4%;
        width: 90vw;
        font-size: 90%;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .onlyForm {
        text-align: center;
        padding-left: 9.5%;
        max-width: 80vw;
        display: grid;
        
        gap: 10px;
        row-gap: 5px;
    }
    .contactText {
        font-size: 150%;
        text-align: center;
        margin-bottom: -20%;
    }
    .bottom-header {
        max-width: 100vw;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .foot {
        position: absolute;
        height: 17vh;
        width: 100vw;
        background-color: beige;
        text-align: center;
        border-top: rgba(255, 0, 0, 0.251) solid 4px;
    }
    .copyText {
        font-size: 80%;
        text-align: center;
    }
    a {
        color: black;
        font-size: 90%;
        align-content: center;
    }
}